* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ///scroll/// */
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(246, 248, 250);
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
/* //////////////////////////all texts/////////////////////////////// */
#Head-name {
  font-size: bold;
  color: #111111dc;
  font-family: Arial, sans-serif;
}

#skill-heading {
  font-size: xx-large;
  color: #e84949;
}
#contact-heading {
  font-size: xx-large;
  color: #e84949;
}

.container {
  height: 100%;
  width: 100%;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 20px;
  cursor: pointer;
}
.nav-item li a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  padding: 0.5rem;
  border-radius: 20px;
}
.nav-item li a:hover {
  opacity: 0.8;
  color: #e84949;
  background-color: #e84949;
  color: WHITE;
  transition: 0.3s ease-in;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////main-content///////////////////// */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* /////////////////////////home page////////////////////////// */
.Home-page {
  height: 70vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Home-left {
  padding: 1rem;
}
.Home-right {
  text-align: center;
  width: 80%;
  position: relative;
}
#home-image {
  width: 60%;
  border-radius: 100%;
  box-shadow: 2px 2px 15px rgb(180, 180, 180);
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-duration: 2s, 3s;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    box-shadow: 1px 2px 20px #343d68aa;
  }
  100% {
    transform: translateY(0);
  }
}

.home-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 5vh;
  padding-left: 5%;
}

@media screen and (max-width: 530px) {
  .home-text {
    line-height: 3vh;
  }
}

.home-text h1 {
  color: #e84949;
  font-size: 2rem;
}

#Home-btns {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 5%;
}
.btn {
  height: 2.9rem;
  width: 8rem;
  font-size: 1rem;
  background-color: #e84949;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
button {
  border: none;
  position: relative;
  transition: 0.5s ease-in;
  z-index: 1;
}
button:hover {
  transform: scale(1.08);
  box-shadow: 2px 2px 5px gray;
  box-shadow: inset -10.5em 0 0 0 #ff2e2e, inset 10.5em 0 0 0 #e84949;
}

/* ////////////////////////project page////////////////////////// */
.main-projects-section {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 212, 212);
  margin-top: 1rem;
}
#project-heading {
  font-size: 70px;
  color: #e84949;
  margin-top: 1rem;
}

.parent-project-Container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.project-container {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.project-content {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.project-image {
  height: 25rem;
  width: 40rem;
  box-shadow: 3px 3px 15px rgb(150, 150, 150);
  filter: invert(100%) sepia(9%) saturate(19%) hue-rotate(327deg)
    brightness(25%) contrast(77%);
}

/* //////////////////overlay/////////////////////// */
.overlay {
  color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  gap: 5rem;
  padding: 1rem;
}

.overlay:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out 0.01s;
}


/* /////////////////////////social page////////////////////////// */
.skills {
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.skillContainer {
  display: flex;
}
.leftContainer {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 3.8vh;
}
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  width: 50%;
}
.skillImage {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
/* /////////////////////////Contact////////////////////////// */

#contact-heading {
  font-size: 70px;
  color: #e84949;
}

.Contact {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.Contact-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 50%;
}

input {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #343d68aa;
  height: 40px;
  width: 60vw;
  padding-left: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

textarea {
  padding: 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #343d68aa;
  height: 30vh;
  width: 60vw;
  font-family: "Open Sans", sans-serif;
}

.contact-btn {
  height: 2.3rem;
  width: 10rem;
  font-size: 15px;
  background-color: #e84949;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  transition: 0.5s ease-in;
  z-index: 1;
}
.contact-btn:hover {
  transform: scale(1.08);
  box-shadow: 2px 2px 5px gray;
  box-shadow: inset -10.5em 0 0 0 #fd3737, inset 10.5em 0 0 0 #e84949;
}
/* //////////////////footer//////////////// */
footer {
  height: 10rem;
  background-color: #343d68;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 1rem;
}
.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out 0.1s;
  filter: drop-shadow(0.2px 0px 5px #343d68aa);
}

/* /////glow image///// */
.glowImage {
  filter: invert(100%) sepia(2%) saturate(2344%) hue-rotate(175deg)
    brightness(121%) contrast(100%);
    height: 3rem;

}
.glowImage:hover {
  filter: invert(35%) sepia(79%) saturate(968%) hue-rotate(326deg)
    brightness(97%) contrast(93%);
}

/* ///////home image//////// */

/* ////////////////media query nav bar///////////////// */
@media screen and (max-width: 655px) {
  .nav-bar {
    width: 100%;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 655px) {
  .left {
    width: 100%;
    display: block;
    text-align: center;
  }
}
/* /////////////////////////home page////////////////////////// */

@media screen and (max-width: 772px) {
  .Home-page {
    height: 80vh;
  }
  .Home-container {
    flex-direction: column-reverse;
  }
  .Home-left {
    padding: 1rem;
  }
}

/* ////////////////media query home///////////////// */
@media screen and (max-width: 430px) {
  .btn {
    width: 10rem;
    background-color: #e84949;
    padding: 1.5rem;
    font-size: small;
  }
}

/* ////////////main text//////////// */
@media screen and (max-width: 730px) {
  .home-text h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 574px) {
  .home-text h1 {
    font-size: 1.4rem;
  }
}

/* ///conatct/// */
@media screen and (max-width: 470px) {
  #contact-heading {
    font-size: 40px;
    line-height: 3vh;
  }
}
/* ///project heading//// */
@media screen and (max-width: 470px) {
  #project-heading {
    font-size: 50px;
  }
}

/* //////////////////overlay media query//////////////////// */

@media screen and (min-width: 280px) {
  .overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    height: 60vh;
    width: 70vw;
  }

  .project-image {
    transition: all 0.3s ease-in-out 0.1s;
    height: 60vh;
    width: 80vw;
    margin: auto;
  }
}
